:root {
  --light-gray: #c4bebb;
  --dark-gray: #9999A4;
  --screen-green: #88C834;
  --dark-pink: #9a2257;
  --ligther-pink: #c86490;
  --hover-pink: #e090b3;
}

* {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px;
  border-style: solid;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  min-width: 300px;
  max-width: 1200px;
  margin: 10px auto;
}

main, body {
  background-color: var(--light-gray);
}

body {
  min-width: 300px;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.8rem;
}

strong, em, span, label {
  display: contents; /*Need it to keep bold and italic on the same line with other text*/
  margin: 0;
  padding: 0;
  border-style: none;
}

header, nav, section {
  background-color: var(--dark-gray);
}

header h1, nav h2, p{
  background-color: var(--screen-green);
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

/*Change or delete later-------START*/
footer { 
  background-color: green; 
  display: none;
}
article {
  background-color: #ffff00;
}
/*Change or delete later---------END*/

button  {
  font-family: "Press Start 2P", system-ui;
  font-size: 0.5rem;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  border-radius: 50%;
  background-color: var(--dark-pink);
  color: white;
}

.button-notActive {
  opacity: 30%;;
}

/* Old style of buttons dunno if will change -------*/

/* #next, #back {
  font-family: "Press Start 2P", system-ui;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  background-color: var(--light-gray);
  color: white;
  border-radius: 50%;
} */

/* ^^^^^^ Old style of buttons dunno if will change */

.intro-container, #inputNameSection  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  min-height: 200px;
}

.intro-container p {
  display: flex; /*Needed to align text (-items) inside*/
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 300px;
  padding: auto;
}

#starter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 500px;
  min-height: 200px;
  min-width: 300px;
}

.starterSpeech {
  max-width: 500px;
  min-height: 200px;
  min-width: 100%;
}

/*-----CHANGE HERE TO PREVIEW DIFFERENT TEXTS--START */

#intro2, #intro3, #intro4 {display: none;}
/* #intro1, #intro2, #intro4 {display: none;} */
/* #intro1, #intro2, #intro3 {display: none;} */

/*-----CHANGE HERE TO PREVIEW DIFFERENT TEXTS----END */

nav li {
  list-style: none;
  list-style-position: inside;
}
nav li.current {
  list-style-type: ">> ";
  list-style-position: inside;
  background-color: var(--ligther-pink);
}

.default-style {
  background-color: var(--dark-pink);
  color: white;
}

.hover-style {
  background-color: var(--hover-pink);
  color: white;
  font-style: oblique;
    list-style: "-> ";
      list-style-position: inside;
}

.inputIntro {
  background-color: var(--screen-green);
  width: 100%;
  margin: 0px auto auto auto;
  border-style:solid;
  border-width: 2px;
  border-inline-width: 15px;
}

#inputNameSection p {
  margin-bottom: 0;
}

/* #inputNameSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */





/* reminder -- actually not sure if needed anymore, site is narrow already.*/
/* @media (min-width: 768px) {
  .starter-container {  
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
} */