* {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px;
  border-style: solid;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  min-width: 300px;
  max-width: 1200px;
  margin: 10px auto;
}

main, body {
  background-color: #c4bebb;
}

body {
  min-width: 300px;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.8rem;
}

header h1, nav h2, p{
  background-color: #88C834;
}
header {
  background-color: #9999A4;
}
footer {
  background-color: green;
}

h1 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1rem;
}

button  {
  font-family: "Press Start 2P", system-ui;
  font-size: 0.5rem;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  border-radius: 50%;
    background-color: #9a2257;
  color: white;
}

/* #next, #back {
  font-family: "Press Start 2P", system-ui;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  background-color: #9a2257;
  color: white;
  border-radius: 50%;
} */

strong,
em{
  display: contents;
  margin: 0;
  padding: 0;
  border-style: none;
}

article {
  background-color: #ffff00;
}

nav, section {
  background-color: #9999A4;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  min-height: 200px;
}

.intro-container p {
  display: flex; /*Needed to align text (-items) inside*/
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 300px;
  padding: auto;
}

.starter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/*-----CHANGE HERE TO PREVIEW DIFFERENT TEXTS--START */

#intro2, #intro3, #intro4 {display: none;}
#intro1, #intro2, #intro4 {display: none;}
#intro1, #intro2, #intro3 {display: none;}

/*-----CHANGE HERE TO PREVIEW DIFFERENT TEXTS----END */

nav li {
  list-style: none;
  list-style-position: inside;
}
nav li.active {
  list-style-type: ">> ";
  list-style-position: inside;
  background-color: #c86490;
}

.default-style {
  background-color: #9a2257;
  color: white;
}

.hover-style {
  background-color: #e090b3;
  color: white;
  list-style-position: inside;
  font-style: oblique;
    list-style: "-> ";
      list-style-position: inside;
}

.button-notActive {
  opacity: 30%;;
}















/* reminder -- actually not sure if needed anymore, site is narrow already.*/
/* @media (min-width: 768px) {
  .starter-container {  
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
} */